p {
  font-size: 1.5em;
  color: #fe7f88;
  background-image: none;
  background-color: transparent;
}

body {
  background-image: url("../images/background.jpg");
}

.gallery {
  height: 400px;
  width: auto;
}

.gallery img {
  height: 400px;
  width: auto;
  float: left;
  margin: 10px;
}
