* {
  background-image: url("./images/background.png");
}

p {
  font-size: 1.5em;
  color: #fe7f88;
 
  background-color: transparent;
}

html, main, body {
 background-image: url('https: //i.ibb.co/kKqM7z7/background.png');
}

.gallery {
  height: 400px;
  width: auto;
}

.gallery img {
  height: 400px;
  width: auto;
  float: left;
  margin: 10px;
}

